.DounloadBtnAppcom{

    background-color: var(--TextDarkShadowColor);
    color: white;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    padding: 0.7rem 1rem ;
    display: flex;
    text-align: start !important;
    width: 90%;
    
}

.DounloadBtnAppcom:hover{
    background-color: var(--BlueColor);
}



.IImageGetApp {
font-size: 2rem ;
text-align: center;
width: 30%;


}

.GetApp11{
    font-size: 0.9rem ;
    font-weight: 200;
}

.AppGetApp11{
    font-size: 1rem ;
    font-weight: 600;

}


@media screen and (max-width: 768px) {
    .GetApp11{
        font-size: 0.7rem ;
        font-weight: 200;
    }
    .AppGetApp11{
        font-size: 0.9rem ;
        font-weight: 600;
    
    }
    .IImageGetApp {
        font-size: 1.7rem ;
        text-align: center;
        width: 30%;
        
        
        }
}


/* Styles for screens between 768px and 991px tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
   
}

/* Styles for screens larger than 992px desktops */
@media screen and (min-width: 992px) {}