.App {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* direction: rtl ;
  text-align: right ; */

}

.AR {
  direction: rtl;
  text-align: right;

}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  background-color: transparent !important;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media screen and (max-width: 768px) {

  /* Adjust font size for smaller screens */
  html {
    font-size: 12px;
  }
}


/* Styles for screens between 768px and 991px tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }

}

/* Styles for screens larger than 992px desktops */
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }

}


