#AddANewJob .e-control.e-textbox.e-lib , #AddANewJob .e-multi-line-input  textarea  {
    background-color: var(--BackgroundHome);
    border: none;
    border-radius: 5px;
    padding: 1rem 0rem;

    font-size: 1.2rem;



}

#AddANewJob .e-multi-line-input  textarea{
    height: 8rem;
    padding: 0.5rem !important;
    text-indent: 1rem ;
    background-color: transparent;
    border: 1px solid var(--BackgroundHome) ;
   
}

#AddANewJob .e-float-line::after,
#AddANewJob .e-float-line::before {
    background-color: var(--BlueColor) !important;

}

#AddANewJob  .e-inpute-focus::after,#AddANewJob  .e-inpute-focus::before{
    background-color: var(--BlueColor) !important;

}

#AddANewJob .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
 .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after {
    background-color: var(--BlueColor) !important;
    border: none;
}

#AddANewJob .e-input-group.e-control-wrapper{
    border: none !important;
}
#AddANewJob input::selection {
    background-color: var(--BlueColor) !important;

}

#AddANewJob input {
    text-indent: 1rem ;
   
}

.RedSpanInput{
color: red;

}

.TextBoxTitle{
    font-size: 1.2rem ;
    font-weight: 500;
 
}

#AddANewJob  p {
    margin: 0rem !important;

}